dataset
image
captions.csv
._.DS_Store
._Archive.zip
.DS_Store
Archive.zip
static/._index.html
__pycache__/main.cpython-39.pyc
__pycache__/main.cpython-310.pyc
__pycache__/
._Archive.zip
._.DS_Store
Archive.zip
.DS_Store
caption_embeddings.npy
*.py[cod]
.DS_Store
._*
venv/
.venv/
env/
.ipynb_checkpoints/
*.npy
