* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #39297b;
}
h1 {
    text-align: center;
    margin: 70px auto 50px;
    color: #fff;
}
.container {
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background: #434989;
    color: #fff;
    border-radius: 8px;
}
form input {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
form button {
    height: 100%;
    border: 0;
    outline: 0;
    background: #e24034;
    font-size: 18px;
    padding: 0 40px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
::placeholder {
    font-size: 18px;
    color: #fff;
}
#result .img-container {
    display: inline-block;
    width: 23%;
    margin: 1%;
    text-align: center;
}
#result img {
    width: 100%;
    height: auto;
}
#result p {
    color: #fff;
    background: #434989;
    padding: 10px;
    border-radius: 8px;
}
