/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #39297b;
}

h1 {
    text-align: center;
    margin: 70px auto 50px;
    color: #fff;
}

.container {
    padding: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form {
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    background: #434989;
    color: #fff;
    border-radius: 8px;
}

form input[type="text"] {
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

form button {
    height: 100%;
    border: 0;
    outline: 0;
    background: #e24034;
    font-size: 18px;
    padding: 0 40px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#upload {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

#upload button {
    flex: 1;
    height: 50px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background: #e24034;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 8px;
    color: #000;
    text-align: center;
    line-height: 50px;
}

#upload button:hover {
    background: #c12c29;
}

#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    gap: 1%;
}

.img-container {
    flex: 1 1 calc(25% - 1%);
    max-width: calc(25% - 1%);
    box-sizing: border-box;
    text-align: center;
    background: #434989;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.img-container p {
    color: #fff;
    background: #434989;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}